* {
    font-family: monospace;
    font-size: x-large;
    text-align: center;
}

body {
    margin: 0;
}

header {
    background-color: lightblue;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px
}

nav > ul {
    display: flex;
    list-style: none;
    gap: 24px
}

h1 {
    font-size: 48px;
}

form, form * {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    transition: border-color 0.3s;

    background-color: transparent;
    border: none;
    border-bottom: 2px solid;
    border-radius: 4px 4px 0 0;

    border-color: lightgray;
}
input:focus {
    outline: none;

    border-color: black;
}
input.invalid {
    border-color: red;
}

span.invalid {
    font-size:large;
    color: red;
}
