* {
    font-family: monospace;
    font-size: x-large;
    text-align: center;
}

body {
    margin: 0;
}

header, header * {
    display: flex;
    align-items: center;
}
header {
    background-color: lightblue;
    height: 64px;
    padding: 0 24px;
}

nav {
    justify-content: space-between;
    flex-grow: 1;
}
nav a {
    transition: text-decoration-color 0.2s;

    color: black;
    text-underline-offset: 2px;
    text-decoration-color: transparent;
}
nav a:hover {
    text-decoration-color: black;
}
nav > a {
    font-size: xx-large;
}
nav > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 24px
}

h1 {
    font-size: 48px;
}

form, form * {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    transition: border-color 0.3s;

    background-color: transparent;
    border: none;
    border-bottom: 2px solid;
    border-radius: 4px 4px 0 0;

    border-color: lightgray;
}
input:hover {
    border-color: gray;
}
input:focus {
    outline: none;

    border-color: black;
}
input.invalid {
    border-color: red;
}

span.invalid {
    font-size:large;
    color: red;
}
