/* body {
    margin: 0;
}

header {
    height: 3em;
    background-color: royalblue;
    color: white;
    font-size: large;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

nav li:first-child {
    margin-right: auto;
    font-size: xx-large;
}

nav a {
    text-decoration: none;
    color: inherit;
} */

form {
    display: flex;
    flex-direction: column;
}
